.logo:hover {
    fill: orangered;
    color: orangered;
    transition: 100ms;
}
.mail_head:hover {
    color: orangered;
}
.phone_head:hover {
    color: orangered;
}

.photos_content:hover .descrip{
    transform: rotate(0deg);
    bottom: 0;
}
.desrip_text:hover{
    color: orangered;
}