.container {
    background-image: url("img/background 1.jpg")  ;
    width: 1360px;
    height: 768px;
}
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;

}
.position {
    margin: 0 auto;
    width: 1360px;
}

.header {
    display:flex ;
    align-items: center;
    justify-content: space-between;
    margin-top: 51px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 82px;
    fill: white;
    color: white;
}


.milan {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 2px;

}
.holidays {
    font-size: 18px;
    font-weight: bold;
}
.contacts_head {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    margin-right:166px ;
}

.mail_head {
    margin-bottom: 19px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 165px;
    margin-right: 160px;
}
.main_content {
    width: 303px;
    height:280px ;
    margin-right: 60px;
    margin-bottom: 18px;
}
.photos_content {
    position: relative;
    height: 220px;
    width: 303px;

}
.descrip{
    background: orangered;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 302px;
    height: 55px;
    position: absolute;
    right: 0;
    bottom: -29px;
    transform: scaleY(0);
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 7px;
}
.from {
    font-size: 10px;
    margin-bottom: 8px;
}
.price {
    font-size: 20px;
}
.info_view{
    display: flex;
    align-items: flex-end;
    padding: 0 15px 12px 0;
}
.view {
    font-size: 14p;
    padding-right: 16px;
}
.arrow {
    width: 5px;
    height: 5px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);

}
.space {
    padding: 5px;
}

.desrip_text{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.footer-text {
    font-size: 12px;
    text-align: center;
    margin: 15px;
}